.resume-container {
    height: calc(100% - 60px);
    min-height: 100vh;
}

@media screen and (min-width:430px) and (max-width:850px) {
    .resume-container {
        margin-top: 5rem;
    }
}

@media screen and (min-width:850px) and (max-width:1024px) {
    .resume-container {
        margin-top: 5rem;
    }
}

@media screen and (max-width:550px) {
    .resume-container {
        margin-top: 2rem;
    }
}


.resume-heading-section {
    position: relative;
    text-align: center;
}


.resume-heading-section .sub-heading {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
}

.resume-heading-section h1.big {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 10vw;
    color: rgba(70, 230, 150, 0.034);
    z-index: -1;
    font-weight: 900;
}

.resume-heading-section h1.big.big-2 {
    right: 0;
}

.resume-heading-section h2 {
    font-size: 5vw;
    font-weight: 700;
}


@media (max-width: 767.98px) {
    .resume-heading-section h2 {
        font-size: 40px !important;
    }
}

.resume-heading-section h2 {
    color: #38eb5c;
}

.resume-heading-section p {
    color: #feffffe6;
    font-weight: 600;
    margin: 0 auto;
    padding: 0 10px;
}

@media screen and (min-width:767.98px) {
    .resume-heading-section p {
        margin-top: 3.5rem;
    }

}

.resume-content-container {
    display: flex;
    flex-wrap: wrap;
}

.contents {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.resume-wrap {
    width: 100%;
    margin-bottom: 30px;
    background: #030b2b;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    transition: all ease 0.3s;
}

.resume-wrap:hover {
    box-shadow: 0px 0px 20px 1px #ffbb763f, 0px 0px 20px 4px #ffbb763f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}

.resume-wrap .date {
    font-weight: 900;
    font-size: 26px;
    color: #38eb5c;
}

.resume-wrap h3 {
    font-size: 26px;
    color: #38eb5c;
}

.resume-wrap .position {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.resume-wrap .desc {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .resume-wrap {
        width: 48%;
        margin-right: 2%;
        font-size: 15px !important;
    }

    .resume-wrap:nth-child(2n) {
        margin-right: 0;
        /* Remove right margin for every second item */
    }
}

@media (max-width: 768px) {

    .resume-wrap .date,
    h3 {
        font-size: 19px !important;
    }

    .resume-wrap .desc {
        font-size: 15px !important;
    }
}