/* MAIN TEXT AREA CSS STARTS HERE */
section {
    margin: 0 auto;
    height: 100vh;
    max-height: 100%;
    width: calc(min(992px, 100%));
    max-width: 100%;
}

.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Article styles */
.hero-article,
.main-text-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.main-text-area {
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* HERO IMAGE CSS */
.image {
    flex: 1 1 auto;
    width: 25em;
    height: 25em;
    border-radius: 50%;
    margin: auto;
}

.img {
    overflow: hidden;
    border-radius: 50%;
}

@media (max-width:350px) {
    .hero-article{
        margin-top: -2.5rem;
    }
}

.blue-bg-outer {
    width: 25em;
    height: 25em;
    border-radius: 50%;
    background: linear-gradient(90deg, #220c04 0%, #790923 57%, #ff5800 100%);
    box-shadow: inset 0 0 10px grey, 0 0 15px grey;
    display: grid;
    place-items: center;
}

.white-bg {
    width: 21.875em;
    height: 21.875em;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.blue-bg {
    width: 18.75em;
    height: 18.75em;
    border-radius: 50%;
    background: #030b2b;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.blue-bg img {
    position: relative;
    width: 100%;
    border-radius: 50%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
/* ==== REACT PARALLAX TILT FOR IMAGE ======  */
.parallax-effect-img{
    transform-style: preserve-3d;
  transform: perspective(1000px);
}
/* Name Area */
.name-area .prefix {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: #ff7700;
}

.name-area .prefix span:nth-child(1) {
    font-size: 1.5em;
    letter-spacing: 2.5px;
    font-family: Milonga, sans-serif !important;
    color: #38eb5c;
}

/* Animation for name using animation.css */
.animate__animated.animate__lightSpeedInRight {
    animation-duration: 2s;
    animation-delay: 0.3s;
}

/* Animation for hero image */
.animate__animated.animate__fadeInLeft {
    animation-duration: 2s;
    animation-delay: 0.3s;
}

/* Animation for social icons */
.icon.github.animate__animated.animate__fadeIn:nth-child(1) {
    animation-duration: 0.5s;
    animation-delay: 0.4s;
}

.icon.email.animate__animated.animate__fadeIn:nth-child(2) {
    animation-duration: 0.8s;
    animation-delay: 0.5s;
}

.icon.linkedin.animate__animated.animate__fadeIn:nth-child(3) {
    animation-duration: 1s;
    animation-delay: 0.6s;
}

.icon.instagram.animate__animated.animate__fadeIn:nth-child(4) {
    animation-duration: 1.3s;
    animation-delay: 0.7s;
}

/* Hello message CSS */
.profile small {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.profile .prof h3 {
    font-size: clamp(1.5em, 4vw, 2em);
    font-family: 'Bungee Spice', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    border-right: 3px solid #bf5800;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing 6s steps(15) infinite, blink-caret 0.6s step-end infinite;
}

@keyframes typing {
    0% {
        width: 0;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

/* DOWNLOAD BUTTON CSS */
.css-buttons-io-button {
    display: flex;
    align-items: center;
    padding: 0.8em 1.5em 0.8em 1.2em;
    background: linear-gradient(0deg, #ff7d00 0%, #790923 100%);
    border: 2px solid #ff7d00;
    border-radius: 20em;
    transition: all 0.4s ease;
}

.css-buttons-io-button span a {
    font-family: inherit;
    font-weight: 600;
    font-size: clamp(10px, 4vw, 17px);
    color: white;
}

.css-buttons-io-button img {
    margin-right: 8px;
}

.css-buttons-io-button:hover {
    cursor: pointer;
    border-color: white;
    box-shadow: 0 0.5em 1.5em -0.5em #bf5800;
}

.css-buttons-io-button:active {
    transform: scale(0.95);
    box-shadow: 0 0.3em 1em -0.5em #bf5800;
}

/* HIRE BUTTON CSS */
.hire-button {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    touch-action: manipulation;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 32%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100%);
}

.front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: clamp(10px, 4vw, 17px);
    color: white;
    letter-spacing: 0.1em;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.hire-button:hover {
    filter: brightness(110%);
}

.hire-button:hover .front {
    transform: translateY(-6px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.hire-button:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.hire-button:hover .shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.hire-button:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.hire-button:focus:not(:focus-visible) {
    outline: none;
}

/* SOCIAL ICON CSS */
.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.icon a i {
    color: #000;
}

.icon:hover a i {
    color: #fff !important;
}

.wrapper .icon {
    position: relative;
    background: #fff;
    color: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    top: -4px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    bottom: -40px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #8200d4;
    color: #fff !important;
}

.wrapper .email:hover,
.wrapper .email:hover .tooltip,
.wrapper .email:hover .tooltip::before {
    background: #c42c19;
    color: #fff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #1651b0;
    color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
}

/* Responsive Design for max-width: 850px */
@media screen and (max-width: 850px) {
    .home-container {
        margin-top: 4.5rem;
        flex-direction: column;
    }

    .main-text-area {
        width: 100%;
        justify-content: flex-start;
    }

    .hero-article {
        justify-content: flex-end !important;
    }
}

@media (max-width: 380px) {
    .name-area .prefix {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
    }

    .profile small {
        justify-content: center;
    }
}

/* Responsive design for HERO IMAGE in smaller screens */
@media only screen and (max-width: 992px) {
    .image {
        width: 100%;
        min-width: 15.5em;
    }

    .blue-bg-outer {
        width: 22.5em;
        height: 22.5em;
        margin: auto;
    }

    .white-bg {
        width: 18.875em;
        height: 18.875em;
    }

    .blue-bg {
        width: 15.75em;
        height: 15.75em;
    }
}

@media only screen and (max-width: 769px) {
    .image {
        width: 100%;
        min-width: 15em;
    }

    .blue-bg-outer {
        width: 22em;
        height: 22em;
        margin: auto;
    }

    .white-bg {
        width: 18.875em;
        height: 18.875em;
    }

    .blue-bg {
        width: 15.75em;
        height: 15.75em;
    }
}

@media only screen and (max-width: 480px) {
    .image {
        width: 100%;
        min-width: 15em;
    }

    .blue-bg-outer {
        width: 20em;
        height: 20em;
        margin: auto;
    }

    .white-bg {
        width: 16.875em;
        height: 16.875em;
    }

    .blue-bg {
        width: 13.75em;
        height: 13.75em;
    }
}

@media only screen and (min-width: 320px) and (max-width: 424px) {
    .image {
        width: 100%;
        height: 18em;
    }

    .blue-bg-outer {
        width: 16em;
        height: 16em;
    }

    .white-bg {
        width: 13em;
        height: 13em;
    }

    .blue-bg {
        width: 11em;
        height: 11em;
    }
}

@media only screen and (max-width: 320px) {
    .image {
        width: 100%;
        height: 18em;
    }

    .blue-bg-outer {
        width: 16em;
        height: 16em;
    }

    .white-bg {
        width: 13em;
        height: 13em;
    }

    .blue-bg {
        width: 11em;
        height: 11em;
    }
}

/* alignments for social icons */
@media screen and (max-width: 500px) {
    .wrapper {
        padding-top: 10px !important;
    }
}

/* END OF CSS */
