.skills-container {
    height: calc(70vh - 60px);
    min-height: 75vh;
}

/* Responsive Design for max-width: 850px */
@media screen and (max-width: 850px) {
    .skills-container {
        margin-top: 18rem;
    }

    .row {
        margin-top: 2rem;
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .skills-container {
        margin-top: 25rem;
    }
}

@media screen and (min-width:377px) and (max-width: 426px) {
    .skills-container {
        margin-top: 28rem;
    }
}

@media screen and (min-width:320px) and (max-width: 376px) {
    .skills-container {
        margin-top: 20rem;
    }
}

.skills-heading-section {
    position: relative;
    text-align: center;
}

.skills-heading-section .subheading {
    font-size: 13px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: black;
    letter-spacing: 3px;
}

.skills-heading-section h1.big {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 10vw;
    color: rgba(70, 230, 150, 0.034);
    z-index: -1;
    font-weight: 900;
}

.skills-heading-section h1.big.big-2 {
    right: 0;
}

.skills-heading-section h2 {
    font-size: 5vw;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .skills-heading-section h2 {
        font-size: 40px !important;
    }
}

.skills-heading-section h2 {
    color: #38eb5c;
}

.skills-heading-section p {
    color: #feffffe6;
    font-weight: 600;
    margin: 0 auto;
    padding: 0 10px;
}

@media screen and (min-width:767.98px) {
    .skills-heading-section p {
        margin-top: 3.5rem;
    }
}

.content-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container img {
    width: 100px;
    height: 100px;
    transition: all 0.3s ease;
}

.icon-container img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media screen and (min-width: 770px) {
    .content-area {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .content-area {
        grid-template-columns: repeat(3, 1fr);
    }

    .content-area .icon-container img {
        width: 60px !important;
        height: 60px !important;
    }
}