@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Bungee+Spice&family=Merienda:wght@300..900&family=Milonga&family=Rubik+Beastly&family=Righteous&display=swap');
.text-white svg{
    fill: #fff;
}
.image-container {
    display: inline-block;
    padding: 0px;
    margin-left: 35px;
    margin-top: 10% !important;
    border-radius: 20px;
    cursor: pointer;
    background-color: #514f4f;
    /* height: 100vh; */
    overflow: hidden;
    border: 6px solid transparent;
    border-image-slice: 20;
    border-image-source:
        linear-gradient(to bottom, #FFBD39 33.33%, transparent 33.33%, transparent 66.66%, #FFBD39 66.66%);
}

    

.card-img {
    display: block;
    width: 100%;
    filter: contrast(200%);
    height: auto;
    
}

.image-container:hover {
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

@media screen and (min-width:1439px) {
    .image-container {
        margin-top: 10px !important;
    }
}

.card {
    border: none;
    background: transparent;
}

.card-hi {
    font-family: Righteous;
    font-size: 1.5rem;
    color: #FFBD39;
}

.card-name {
    font-size: 3.5rem;
    font-family: Milonga;

    span {
        font-family: Rubik Microbe;
        font-size: 3.5rem !important;
        font-weight: 600;
        font-size: 36px;
        /* Adjust font size as needed */
        background-image: url(https://i.pinimg.com/originals/3a/44/3d/3a443d0538b33d910c6e701dd6423fb7.gif);
        background-size: cover;
        background-position: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration-color: transparent;
    }
}

.card-text {
    font-size: 2rem;
    font-family: merienda;

    span {
        font-family: Rubik Microbe;
        font-size: 2rem !important;
        font-weight: 600;
        font-size: 36px;
        /* Adjust font size as needed */
        background-image: url(https://i.pinimg.com/originals/3a/44/3d/3a443d0538b33d910c6e701dd6423fb7.gif);
        background-size: cover;
        background-position: center;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration-color: transparent;
    }
}

.card-foot {
    font-family: Bilbo Swash Caps;
    letter-spacing: 0.09rem;
    font-weight: 700;
    font-size: 4rem;
}

@media screen and (min-width:1023px) {
    .card-foot {
        padding-top: 2.5rem !important;
    }
}

@media screen and (max-width:768px) {

    /* .card-body {
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    } */

    .card-hi {
        font-size: 2rem !important;
    }

    .card-name {
        font-size: 2.5rem !important;
    }

    .card-text {
        font-size: 1.3rem !important;
    }

    .card-footer {
        font-size: 1rem !important;
    }
}

@media screen and (max-width:650px) {
    .row {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: center;
    }
}

.btns {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    position: relative;
    font-size: 17px;
    background: #FFBD39;
    border: none;
    color: #fff;
   
}

.btns:hover {
    letter-spacing: 0.25em;
    background: #FFBD39;
    color: #ffffff;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#ffbd39);
    box-shadow:  0 0 5px #FFBD39 ,0 0 15px #FFBD39 ,0 0 25px #FFBD39;
}

.btns::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222222;
}

.btns span {
    position: relative;
    z-index: 1;
}

.btns i {
    position: absolute;
    inset: 0;
    display: block;
}

.btns i::before {
    content: '';
    position: absolute;
    border: 2px solid #FFBD39;
    width: 7px;
    height: 4px;
    top: -3.5px;
    left: 80%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btns:hover i::before {
    width: 20px;
    left: 20%;
}

.btns i::after {
    content: '';
    position: absolute;
    border: 2px solid #FFBD39;
    width: 7px;
    height: 4px;
    bottom: -3.5px;
    left: 20%;
    background: #222222;
    transform: translateX(-50%);
    transition: 0.5s;
}

.btns:hover i::after {
    width: 20px;
    left: 80%;
}