.navbar {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 65px;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    /* Initially transparent */
    transition: background-color 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

/* Background color applied after scrolling past 20% */
.navbar.scrolled {
    background-color: #010824;
    background-image: repeating-linear-gradient(to right, transparent 0 79px, rgba(238, 238, 238, 0.019) 79px 80px), repeating-linear-gradient(to bottom, transparent 0 79px, #eee1 79px 80px);

    &::before {
        position: fixed;
        width: 100px;
        height: 400px;
        content: '';
        background-image: linear-gradient(to right, #d02e23, #7a43b6);
        z-index: -1;
        top: -200px;
        left: calc(50% - 200px);
        border-radius: 50% 50% 0 0;
        pointer-events: none;
        filter: blur(250px);
    }
}

/* Navigation bar styles */
nav {
    width: calc(min(1300px, 100%));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:992px) and (max-width:1070px) {
    nav {
        width: 90%;
    }
}

/* Logo styles */
.nav-brand a img {
    filter: brightness(100%);
    margin-top: 5px;
}

/* Navigation links container */
.nav-links {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-items {
    position: relative;
}

/* Individual navigation items */
.nav-links .nav-items a {
    font-size: 1.2rem;
    color: #fff;
    padding: 10px;
    font-weight: 500;
    transition: all 0.2s ease;
}

.nav-links .nav-items a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #5870d1;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
}

.nav-links .nav-items a:hover::before {
    transform: scaleX(1);
}


/* Hover effect for navigation items */
.nav-links .nav-items a:hover {
    color: #5870d1 !important;
    font-weight: 500;
    cursor: pointer;
}

/* Active effect for navigation items */
.nav-links .nav-items.active a {
    color: #ff7700;
    font-weight: 600;
}

/* Action button styles */
.action-btn img {
    cursor: pointer;
    transition: all 0.5s ease;
    filter: saturate(2);
}

.closeIcon {
    filter: saturate(10);
}

/* Dropdown menu container */
.dropdown_menu {
    display: none;
    position: absolute;
    right: -110%;
    top: 54px;
    background-color: #010824;
    width: 100%;
    height: calc(100vh - 54px);
    border-radius: 10px;
    overflow: hidden;
    transition: right 0.5s ease-in-out;
    background-image: repeating-linear-gradient(to right, transparent 0 79px, rgba(238, 238, 238, 0.019) 79px 80px), repeating-linear-gradient(to bottom, transparent 0 79px, #eee1 79px 80px);
}

.dropdown_menu.open {
    right: 0;
}

/* Dropdown menu items container */
.dropdown_menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    height: 100%;
}

/* Dropdown menu individual items */
.dropdown_menu li {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Action button inside dropdown menu */
.dropdown_menu .action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Responsive design for larger screens */
@media screen and (min-width: 992px) {
    .action-btn {
        display: none;
    }
}

/* Responsive design for smaller screens */
@media screen and (max-width: 992px) {
    .nav-links {
        display: none;
    }

    .dropdown_menu {
        display: block;
    }
}


@media screen and (min-width: 767px) and (max-width: 992px) {
    .dropdown_menu {
        width: 50%;
    }

}

@media screen and (max-width: 850px) {
    nav {
        margin: 0 auto;
        width: calc(min(769px), 90%) !important;
    }
}