
.app {
    transition: background-color 0s ease;
    min-height: 150vh;
}

.light {
    background-color: #ffffff;
    color: #000000;

    .navbar {
        background: #ffffff;
        /* box-shadow: inset 0 0 10px grey; */
    }
    .navbar-brand{
        color: #000000;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    }
}

.dark {
    background-color: #000000;
    color: #ffffff !important;

    .navbar {
        background-color:  #000000;
        /* box-shadow: inset 0 0 10px grey; */
    }
    nav ul li a:hover {
        color: #FFBD39;
        font-weight: 900;
        /* Change color on hover */
    }
    nav ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color:#FFBD39;
        /* Initial color for the border-bottom */
        transition: width 0.3s ease-in-out;
        /* Transition for width change */
    }
    
    nav ul li a:hover::after {
        width: 100%;
        height:3px
        /* Expand the border-bottom on hover */
    }
    
    .navbar-brand, .nav-link{
        color: #ffffff;
    }

    .card {
        color: #ffffff;
    }
    .nav-link.active {
        color: #f3b519; 
        font-weight: 900;
    /* Set color for active navbar link */
    }
}
