/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Concert+One&family=Milonga:ital,wght@0,400;0,700;1,400;1,700&family=Bungee+Spice&display=swap');

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

#root {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Chrome, Safari, Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #21005e;
  border-radius: 30px;
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4000;
  cursor: grab;
}

